*{


    margin-left: 70px;
}

li{


    font-size: 20px;
}
ul#sekme li{
   
   display: block;
   float: left;
   position: relative;
    width: 250px;
    top: 40px;
    left: 10px;
}
ul#sekme li a {
    display:inline-block;
    width: 250px;
    height: 45px;
    line-height: 40px;
    background-color: white;
    text-align: center;
    color: green;
    text-decoration: none;
    font-size: 20px;
    z-index: 2;
}

ul#sekme a:hover {
    display:block;
    color: black;
    background-color: rgb(72, 228, 173);
    transition: .5s;
    
}
p{


    font-size: 19px;
}
img{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    left: 250px;
    margin-top: 170px;
}
h1,h2{
    color: tomato;
}