*{

    background-color: #E9ECEF;
    text-decoration: none;
}
.card{
    margin: 50px;
    border-color: tomato;
    
    
}
img{


    width: 550px;
    height: 400px;
}
.container{


    background-color: #E9ECEF;
}
body{


    background-color: #E9ECEF;
}
#navbarNavAltMarkup{


    background-color: rgb(191, 74, 53);
}
.jumbotron{

  
    background-color: #E9ECEF;
    top: 100px;
    left: 70px;
}
.navbar{
    top: 0;
    left: 0;
    padding: 20px;
    background-color: rgb(191, 74, 53);
    width: 100%;
    position: fixed;
    z-index: 1;
}
.nav-link{
    
    
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-color: rgb(191, 74, 53);
}
.nav-link :hover{

    display: block;
    background-color: #E9ECEF;
    color: black;
   
}
p{

    
        font-size: 19px;
}

h1,h2{
    color: tomato;
}
